doctype html
html(lang="en")
  head
    title="ArtHouseBCN"
  
    <!-- inject:css -->
    <!-- endinject -->
    script(type="text/javascript" src="//code.angularjs.org/1.2.16/angular-cookies.min.js")
    script(type="text/javascript" src="//cdn.auth0.com/js/lock-8.1.min.js")
    script(type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js")
    script(type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js")
    script(type="text/javascript" src="//cdn.auth0.com/w2/auth0-angular-4.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no") 
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700") 
  body(ng-app="artApp")
    div(device-detector)
    div(ui-view="header")  
      
      
    <!-- inject:js -->
    <!-- endinject -->
