div.container
  div.piece_bg
    h1.text-center.pm {{piece.title}}
    h3.text-center.qs {{piece.artist_name}}
    h5.text-right.qs {{piece.price | currency}}
    image.img-responsive(src="piece.images[0]")
